@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --background-color: rgba(244, 211, 94);
    --base-color: rgba(238, 150, 075);
    --low-opacity-base-color: rgba(238, 150, 075, 0.5);
    --box-color: rgba(217, 217, 217);
    --shadow: 10px 5px 20px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--background-color);
    background-image: url('Image/IMG_1004\ \(1\).GIF');
    background-size: cover; /* Adjust this as needed */
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    pointer-events: none;
    margin-right: 20px;
}

header {
    position: absolute;
    top: 0;
}

.logo {
    height: 100px;
    width: auto;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    max-width: 1000px;
    width: 95%;
    padding: 20px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    /* background: #444; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0);
}

.image-item {
    border: 2px solid #333;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #333;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 30px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px; 
    object-fit: cover; 
}

.slider-wrapper .image-list .Create_avatar .image-item ,
.slider-wrapper .image-list .AvatarShop .image-item,
.slider-wrapper .image-list .ChickShop .image-item {
    width: 600px;
    object-fit: contain;
}

.subtitle {
    text-align: center;
    font-size: 32px;
    /* background: var(--background-color); */
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.back {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    background: rgba(238,150,75);
    font-size: 1.5em;
    cursor: pointer;
}

.back:hover {
    background: yellow;
    box-shadow: var(--shadow);
}