<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <!-- <link href="Test/views/output.css" rel="stylesheet"> -->
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>

    <link rel="stylesheet" href="/dist/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
</head>


<body>
    <div class="bg-color01">
        <div class="flex h-screen">
            <div class="w-0 lg:w-1/5 lg:profileBox lg:bg-white lg:ml-5 lg:mr-1 lg:my-5 lg:rounded-2xl lg:p-5">
                <a href="/"><img src="\assets\cc_logo.png" class="logo"></a>
            </div>
            <div class="w-full lg:w-4/5 chatBox bg-color02 mr-5 ml-5 lg:ml-1 my-5 rounded-2xl p-5 relative">
                <h3 class="text-center text-3xl font-cherry"> Chickchat </h3>
                <div class="overflow-y-scroll h-[96%] m-2">
                    <div id="message-container"> </div>

                </div>



                <div class="w-[90%] flex justify-center bottom-8 lg:bottom-10 form-input mt-2" name="buttomChat">
                    <!-- <form id="send-container"> -->
                    <input type="text" id="message-input" class="w-[60%] rounded-xl bg-white mx-auto p-1 px-4" required></input>
                    <!-- <img src="./assets/emojiChat.png" class="block" alt="Emoji Button" onclick="alert('เด้ง Modal จ้า')"> -->
                    <button type="submit" id="send-button" class="rounded-full">Send</button>
                    <!-- </form> -->

                    <!-- <div class="w-[100%] justify-center fixed bottom-0 lg:bottom-10 rounded form-input mt-5" name="buttomChat"> -->
                    <!-- <input type="text" class="w-[60%] rounded-xl bg-white mx-auto p-1 px-4" type="text" id="message" required> -->
                    <!-- <button type="submit">Send</button> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>
</body>


</html>