:root {
    --background-color: rgba(244,211,94) ;
    --base-color: rgba(238, 150, 075);
    --low-opacity-base-color: rgba(238, 150, 075, 0.5) ;
    --box-color: rgba(217,217,217);
    --shadow: 10px 5px 20px black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background-color);
    height: 100vh;
    overflow: hidden;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: var(--background-color);
    z-index: 1;
}

.logo {
    width: auto;
    height: 100px;
}

.chicken {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    height: 50px;
    width: auto;
    background: white;
    border-radius: 20px;
}

.chicken img {
    margin: 10px;
    width: auto;
    height: 50px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90vw;
    height: 70%;
    /* border: 5px solid red; */
}

.navbar {
    position: relative;
    width: 15rem;
    height: 100%;
    /* border: 2px solid black; */
    /* background: var(--base-color); */
}

.navbar button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 100px 0px 0px 100px; 
}

.av-shop {
    background: var(--base-color);
}

.chick {
    background: rgba(238, 150, 075, 0.5);
}

.av-shop,
.chick {
    font-size: 2rem;
}

.av-shop:hover,
.chick:hover {
    background: yellow;
}

.shop-zone {
    display: none !important;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background: var(--box-color);
    /* overflow: hidden; */
}

.active {
    display: flex !important;
}

.focus {
    background-color: #DD6702;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    width: 95%;
    height: 95%;
    overflow: hidden;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--base-color);
    width: 100%;
    height: 100%;
    max-height: calc(100% - 10px); 
    /* border: 2px solid blue; */
    overflow: hidden;
    /* margin: 5px; */
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.item:hover {
    background: yellow;
}

.price {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    bottom: 0px;
    width: 100%;
    height: 5rem;
}

.footer-container i {
    margin: 20px;
    font-size: 4rem;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 160px) !important;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 95%;
        height: 95%;
    }

    .shop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 320px !important;
        background: var(--box-color);
    }

    .chicken {
        width: 60px !important;
        height: 20px;
    }

    .chicken img {
        height: 20px;
    }

    .active {
        display: flex;
    }
    
    .focus {
        background-color: #DD6702;
    }
}

@media (min-width: 490px) and (max-width: 725px) {
    .chicken img {
        display: block !important;
    }

    .active {
        display: flex;
    }
    
    .focus {
        background-color: #DD6702;
    }
}

@media only screen and (max-width: 726px) {
    .logo {
        width: auto;
        height: 50px;
    }

    .chicken {
        font-size: 0.8rem;
        height: auto;
        width: auto;
        padding: 0px;
    }

    .chicken img {
        display: none;
        margin: 0;
    }

    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 70%;
        /* border: 5px solid red; */
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        /* border: 2px solid black; */
    }

    .navbar button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row !important;
        width: 100%;
        height: 75px;
        border: none;
        border-radius: 100px; 
    }

    .shop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: 100%;
        background: var(--box-color);
    }

    .active {
        display: flex;
    }
    
    .focus {
        background-color: #DD6702;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 95%;
        height: 95%;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--base-color);
        width: 100%;
        height: 100%;
        /* max-height: calc(100% - 10px);  */
        /* border: 2px solid blue; */
        overflow: hidden;
        /* margin: 5px; */
    }

    .item img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    footer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: end;
        bottom: 0px;
        width: 100%;
        height: 5rem;
    }

    .footer-container i {
        font-size: 2rem;
        cursor: pointer;
    }
}